<?xml version="1.0" encoding="utf-8"?>
<Template xmlns="http://morfeo-project.org/2007/Template">

    <Catalog.ResourceDescription>
        <Vendor>CoNWeT</Vendor>
        <Name>wms-viewer-geowidget</Name>
        <DisplayName>Web Map Service</DisplayName>
        <Version>0.2</Version>
        <Author>jmostazo</Author>
        <Mail>jmostazo@fi.upm.es</Mail>
        <Description> This widget gives users the ability to handle different map layers coming from several sources, showing all of them on the same map. It has a bunch of both events and slots that enables the user to have different instances of this widget wired, so she can compare with different cartographies at a glance.</Description>
        <ImageURI>img/wms_widget.png</ImageURI>
        <iPhoneImageURI>img/wms_widget.png</iPhoneImageURI>
        <WikiURI>http://hercules.ls.fi.upm.es/public/conwet/ogf.html#wms-widget</WikiURI>
    </Catalog.ResourceDescription>

    <Platform.Wiring>
        <InputEndpoint name="map_info_slot"       type="text" label="Map info"         friendcode="map_info"/>
        <InputEndpoint name="wms_service_slot"    type="text" label="WMS info"         friendcode="service_info"/>
        <InputEndpoint name="location_slot"       type="text" label="Location"         friendcode="location"/>
        <InputEndpoint name="location_info_slot"  type="text" label="Location info"    friendcode="location_info"/>

        <OutputEndpoint name="map_info_event"     type="text" label="Map info"         friendcode="map_info"/>
        <OutputEndpoint name="location_event"     type="text" label="Location LongLat" friendcode="location"/>
        <OutputEndpoint name="center_event"       type="text" label="Center LongLat"   friendcode="location"/>
        <OutputEndpoint name="feature_info_event" type="text" label="Feature info"     friendcode="feature_info"/>
    </Platform.Wiring>

    <Platform.Link>
        <XHTML href="index.html"/>
    </Platform.Link>

    <Platform.Rendering width="8" height="24"/>

</Template>
